* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: 1px;
  background-color: slategrey;
  color: #eee;
}

.App > * {
  padding: 10px 5px;
  background-color: rgb(35, 35, 35);
}

.task-filters {
  display: flex;
  flex-direction: column;
}
